@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");

/* global styles */
:root {
  /* Theme Colors */
  --custard: #f8c24c;
  --gray: #404040;
  --light-gray: #999999;
  --red: #cd1222;
  --foreground-gray: #1c1c1e;

  --white-filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(102deg)
    brightness(109%) contrast(101%);
  --custard-filter: invert(68%) sepia(99%) saturate(307%) hue-rotate(351deg)
    brightness(100%) contrast(95%);
  --gray-filter: invert(64%) sepia(0%) saturate(1422%) hue-rotate(205deg)
    brightness(97%) contrast(82%);

  /* Theme Variables*/
  --color: black;
  --bg: whitesmoke;
  --elevated: white;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);

  --nav-size: 80px;
  --nav-bg: white;
  --nav-hover-color: black;
  --nav-hover-bg: var(--custard);
  --nav-box-shadow: rgba(60, 60, 59, 0.75) 0 0 10px;

  --nav-mobile-bg: var(--custard);
  --nav-mobile-color: white;

  --footer-bg: var(--gray);
  --footer-color: var(--light-gray);
  --footer-title-color: var(--custard);

  --button-color: var(--custard);
  --button-bg: var(--custard);

  --button-hover-color: var(--black);
  --button-hover-bg: var(--custard);

  --button-box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  --button-box-shadow-hover: 0 2px 8px 1px rgb(64 60 67 / 32%);

  /* Timing */
  --dark-mode-timing: 200ms;
  --animation-timing: 400ms;

  /* Typeography */
  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --h5: 1.25rem;

  /* spacers */
  --spacer-sm: 0.5rem;
  --spacer-md: 1rem;
  --spacer-lg: 2rem;
}

html {
  font-size: 100%;
} /*16px*/

body {
  background: var(--background);
  font-family: "EB Garamond", -apple-system, Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  margin: 0;
  color: var(--color);
}

section {
  max-width: 1968px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}

.restricted {
  max-width: 1440px;
}

.page-wrapper {
  width: 100%;
  margin: 80px auto 0 auto;
  padding: 3rem 1.5rem;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}
